html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

:root {
  font-family: "roboto", "sans-serif";
  font-size: 1.1rem;
  font-weight: 400;
}

body {
  min-width: 340px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

a {
  text-decoration: none;
}

h1, h4 {
  font-family: "shrikhand";
}

h1 {
  font-size: 1.3rem;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.container,
.container__menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.location {
  background-color: rgba(192, 196, 200, 0.2);
  display: flex;
  flex-direction: column;
  height: 15.5rem;
}
.location__presentation p {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-bottom: 1.4rem;
}
.location__presentation--titre {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.4rem;
}

.input_formulaire {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  background-color: #e2e3e4;
  border-left: none;
  border-top-color: rgba(192, 196, 200, 0.2);
}

.btn {
  display: block;
  margin: auto;
  padding: 0.6rem 1.3rem;
  border-radius: 60px;
  font-family: "roboto";
  border: none;
  background-color: violet;
}

.work {
  display: flex;
  flex-direction: column;
  height: 20rem;
  margin-top: 1.7rem;
}
.work .work__btn {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
.work .work__btn--1, .work .work__btn--2, .work .work__btn--3 {
  padding-top: 1.3rem;
  padding-bottom: 1.2rem;
  margin: 0.8rem 1.7rem 0.5rem 1.2rem;
  border-radius: 20px;
  border: none;
  box-shadow: 1.5px 1px 8px 1px rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
  font-family: "roboto";
  counter-reset: compteListe;
  position: relative;
}
.work .work__btn--1::after, .work .work__btn--2::after, .work .work__btn--3::after {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  display: block;
  position: absolute;
  background: #bb5dbb;
  font-size: 0.8rem;
  font-weight: bold;
  color: #FFF;
  border-radius: 15px;
  width: 3vh;
  height: 3vh;
  left: -0.5rem;
  bottom: 1.1rem;
  line-height: 1.4rem;
}
.work .work__btn--2::after {
  counter-increment: compteListe 2;
}
.work .work__btn--3::after {
  counter-increment: compteListe 3;
}
.work .work__btn--1::before, .work .work__btn--2::before, .work .work__btn--3::before {
  content: " ";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  width: 1.2rem;
  height: 1.2rem;
  opacity: 0.4;
  top: 1.3rem;
  left: 2.5rem;
}
.work .work__btn--1::before {
  background-image: url("../images/logo/mobile.svg");
}
.work .work__btn--2::before {
  background-image: url("../images/logo/list.svg");
}
.work .work__btn--3::before {
  background-image: url("../images/logo/store.svg");
}

.work__title,
.restaurant__title {
  font-weight: bold;
  padding-left: 1rem;
  font-size: 1.35rem;
  padding-bottom: 0.5rem;
}

.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 2.5rem;
  border: 1px solid rgba(192, 196, 200, 0.2);
  background-color: rgba(192, 196, 200, 0.2);
  position: relative;
}
.restaurant__title {
  padding-bottom: 1.3rem;
  padding-top: 2.5rem;
}
.restaurant__card {
  width: 90%;
  margin-bottom: 1.2rem;
  padding-bottom: 1.2rem;
  margin-bottom: 1.5rem;
  margin-right: 2%;
  margin-left: 5%;
  background-color: #FFF;
  box-shadow: 2px 1px 9px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  line-height: 0.9rem;
}
.restaurant__card:nth-of-type(1)::after, .restaurant__card:nth-of-type(2)::after {
  content: " Nouveau ";
  float: right;
  position: relative;
  background-color: #8eecd8;
  color: #239980;
  text-align: center;
  font-weight: bold;
  line-height: 1.8rem;
  font-size: 1rem;
  width: 5.5rem;
  height: 1.8rem;
  clear: right;
  bottom: 11.8rem;
  right: 0.6rem;
}
.restaurant__card:nth-of-type(1), .restaurant__card:nth-of-type(2) {
  padding-bottom: 0;
  height: 14rem;
}
.restaurant__card img {
  width: 100%;
  height: 9.5rem;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant__card--name {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding-left: 0.8rem;
  padding-top: 1rem;
}
.restaurant__card--name::before {
  content: " ";
  float: right;
  position: relative;
  background-image: url("../images/logo/heart.svg");
  background-repeat: no-repeat;
  clear: both;
  opacity: 0.6;
  width: 1.5rem;
  height: 1.5rem;
  top: 0.3rem;
  right: 1.5rem;
}
.restaurant__card--place {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.95rem;
  padding-left: 0.8rem;
  padding-top: 0.6rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  padding-bottom: 1.7rem;
  position: relative;
  z-index: 1;
}
.footer--logo {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin-left: 1.1rem;
}
.footer ul {
  font-size: 0.9rem;
  line-height: 1.5rem;
  padding-left: 1.1rem;
}
.footer ul li:first-child,
.footer ul li:nth-of-type(2) {
  padding-left: 1.5rem;
}
.footer ul li:first-child::before,
.footer ul li:nth-of-type(2)::before {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
}
.footer ul li:first-child::before {
  background-image: url("../images/logo/utensils.svg");
  top: 3.3rem;
  left: 1.2rem;
}
.footer ul li:nth-of-type(2)::before {
  background-image: url("../images/logo/hands-helping.svg");
  top: 4.8rem;
  left: 1.2rem;
  z-index: 5;
}
.footer a {
  color: #FFF;
}

.header__page--menu a::before {
  content: " ";
  display: block;
  position: absolute;
  background-image: url("../images/logo/arrow-left.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
  width: 1.3rem;
  height: 1.3rem;
  top: 0.8rem;
  left: 3rem;
}

.container__menu {
  border: 1px solid transparent;
  width: 100%;
}
.container__menu p {
  width: 100%;
  z-index: 1;
}

.menu {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #e9ecf0;
  width: 100%;
  padding-top: 2rem;
  z-index: 10;
  opacity: 1;
  margin-top: -4rem;
}
.menu h2 {
  font-family: "shrikhand";
  font-size: 1.5rem;
  padding-left: 1.3rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
  letter-spacing: 0.1vh;
  padding-bottom: 2rem;
}
.menu h2::before {
  content: " ";
  float: right;
  position: relative;
  background-image: url("../images/logo/heart.svg");
  background-repeat: no-repeat;
  clear: both;
  opacity: 0.6;
  width: 1.5rem;
  height: 1.5rem;
  top: 0.3rem;
  right: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
