html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

@keyframes turn-card-validate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes circle-growth-loading-spinner {
  0% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(2);
  }
  80% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes loading-spinner-apparence {
  0% {
    height: 100%;
    opacity: 1;
    background-color: #f3ccffde;
    background-size: contain;
  }
  75% {
    height: 100%;
    opacity: 1;
    background-color: #f3ccffde;
    background-size: contain;
  }
  85% {
    opacity: 0.7;
    background-size: contain;
    background-color: #f3ccffde;
  }
  100% {
    height: 100%;
    opacity: 0;
  }
}
@keyframes rotation-dishes {
  0% {
    transform: rotate(40deg);
  }
  60% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(40deg);
  }
}
@keyframes change-color-dishes {
  0% {
    color: #e41c1c;
  }
  17% {
    color: #ec6314;
  }
  34% {
    color: #f1e753;
  }
  51% {
    color: #3ace35;
  }
  68% {
    color: #3cfdfd;
  }
  85% {
    color: #e712ee;
  }
  100% {
    color: #a106fb;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.menu__starter,
.menu__main-course,
.menu__dessert {
  animation: appear 1000ms backwards;
}

.menu__main-course {
  animation-delay: 500ms;
}

.menu__dessert {
  animation-delay: 1000ms;
}

.header__page--menu a::before {
  content: " ";
  position: fixed;
  z-index: 5;
  background-image: url("../images/logo/arrow-left.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
  width: 1.3rem;
  height: 1.3rem;
  top: 0.8rem;
  left: 1.6rem;
}

.location__mappy {
  background-color: #e2e3e4;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  align-items: center;
}
.location__mappy .input_formulaire {
  background-color: #e2e3e4;
  border: none;
  font-weight: bold;
  height: 2rem;
}

.location {
  background-color: rgba(192, 196, 200, 0.2);
  height: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  text-align: center;
}
.location__presentation--titre {
  font-size: 1.4rem;
  font-weight: bold;
}
.location p {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.5);
}

.footer {
  padding: 1rem 0 2rem 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  z-index: 1;
}
.footer a {
  color: #FFF;
}
.footer a:hover {
  color: #e76ce7;
}
.footer ul {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.footer ul li:first-child i {
  padding-right: 1rem;
}
.footer ul li:nth-of-type(2) i {
  padding-right: 0.6rem;
}

.btn {
  margin: auto;
  padding: 0.8rem 1.3rem;
  border-radius: 60px;
  color: #FFF;
  font-weight: bold;
  border: none;
  background: linear-gradient(#e76ce7, #a37cfd);
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.5);
  transition: all 300ms;
}
.btn:hover {
  transform: scale(1.01);
  background: linear-gradient(to top, rgba(231, 108, 231, 0.8), rgba(163, 124, 253, 0.8));
  box-shadow: 3px 3px 5px black;
}

:root {
  font-family: "roboto";
  font-size: 1.3rem;
}

body {
  min-width: 340px;
  width: 100%;
}

a {
  text-decoration: none;
}

h1, h5 {
  font-family: "shrikhand";
}

h1 {
  font-size: 1.8rem;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: black;
}

.box__circle {
  left: 10%;
}

.operation {
  margin: 1.7rem 0;
}
.operation__content {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  counter-reset: compteListe;
}
.operation__content--btn {
  padding: 1rem 0 0.9rem;
  margin: 0 1.5rem;
  border-radius: 20px;
  border: none;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  font-size: 0.7rem;
  font-weight: bold;
  position: relative;
  transition: 300ms;
  line-height: 1.5rem;
}
.operation__content--btn:nth-child(1) i {
  padding-right: 1.5rem;
}
.operation__content--btn::after {
  counter-increment: compteListe;
  content: counter(compteListe) " ";
  position: absolute;
  background-color: #8d51ee;
  font-size: 0.7rem;
  font-weight: bold;
  color: #FFF;
  border-radius: 15px;
  width: 1.3rem;
  height: 1.3rem;
  left: -0.7rem;
  bottom: 1rem;
  line-height: 1.3rem;
}
.operation__content--btn i {
  float: left;
  padding-left: 12%;
  opacity: 0.5;
  font-size: 1.2rem;
}
.operation__content--btn:hover {
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.5);
  background-color: #e8dcfc;
  z-index: 1;
}
.operation__content--btn:hover i {
  color: #8d51ee;
  opacity: 1;
  z-index: 5;
}

.operation__title,
.restaurant__title {
  font-weight: bold;
  padding-left: 1rem;
  font-size: 1.35rem;
  padding-bottom: 1.5rem;
}

.restaurant {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2.5rem;
  background-color: rgba(192, 196, 200, 0.2);
}
.restaurant__title {
  padding-top: 2.5rem;
}
.restaurant__card {
  width: 88%;
  height: 14rem;
  margin: auto;
  margin-bottom: 1.5rem;
  background-color: #FFF;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  overflow: hidden;
  transition: all 300ms;
}
.restaurant__card:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transform: scale(1.025);
}
.restaurant__card:nth-of-type(1)::after, .restaurant__card:nth-of-type(2)::after {
  content: " Nouveau ";
  float: right;
  position: relative;
  background-color: #8eecd8;
  color: #19957b;
  text-align: center;
  font-weight: bold;
  line-height: 1.8rem;
  width: 5.5rem;
  clear: right;
  bottom: 14rem;
  right: 0.6rem;
}
.restaurant__card img {
  width: 100%;
  height: 9.5rem;
  object-fit: cover;
}
.restaurant__card--name, .restaurant__card--place {
  color: black;
  padding-left: 0.8rem;
  padding-top: 0.6rem;
}
.restaurant__card--name {
  font-weight: bold;
}
.restaurant__card--place {
  opacity: 0.8;
}
.restaurant__card i {
  float: right;
  position: relative;
  bottom: 2.1rem;
}
.restaurant__card .far {
  z-index: 5;
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
  right: 2.02rem;
}
.restaurant__card .far:hover {
  opacity: 0;
  z-index: 1;
}
.restaurant__card .fas {
  opacity: 0;
  z-index: 1;
  right: -0.1rem;
  bottom: 2.25rem;
}
.restaurant__card .fas:hover {
  z-index: 5;
  opacity: 1;
  background: linear-gradient(#e76ce7, #a37cfd);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  animation: appear 100ms;
  font-size: 2.2rem;
}

.container__menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container__menu img {
  width: 100%;
  max-height: 17rem;
  object-position: bottom;
  object-fit: cover;
}
.container__menu .exception {
  object-position: center;
}
.container__menu h2 .far,
.container__menu h2 .fas {
  float: right;
  position: relative;
}
.container__menu h2 .far {
  z-index: 5;
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
  right: 0.5rem;
}
.container__menu h2 .far:hover {
  opacity: 0;
  z-index: 1;
}
.container__menu h2 .fas {
  opacity: 0;
  z-index: 1;
  left: 2.2rem;
  bottom: 0.15rem;
}
.container__menu h2 .fas:hover {
  z-index: 5;
  opacity: 1;
  background: linear-gradient(#e76ce7, #a37cfd);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  animation: appear 100ms;
  font-size: 2.8rem;
}

.menu {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #e9ecf0;
  padding: 2rem 1.3rem;
  margin-top: -4rem;
}
.menu h2 {
  font-family: "shrikhand";
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
  padding-left: 0.6vh;
}
.menu h3 {
  color: #4d4d4d;
  margin: 1rem 0 1rem 0.4rem;
  border-bottom: 3px solid #8eecd8;
  border-width: medium;
  width: 9%;
  padding-bottom: 0.5rem;
}
.menu .btn {
  display: block;
  margin: auto;
  margin-top: 1.5rem;
  font-size: 1.1rem;
  color: #FFF;
}

.menu__card {
  display: flex;
  cursor: pointer;
  margin-bottom: 0.7rem;
  border-radius: 12px;
  background-color: #FFF;
}
.menu__card:hover .menu__card--validate {
  width: 18%;
}
.menu__card:hover .menu__card--validate > .fa-check-circle {
  animation: turn-card-validate 0.5s linear;
  right: 0;
  left: 0;
  color: #FFF;
}
.menu__card--validate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  background-color: #8eecd8;
  color: #FFF;
  opacity: 1;
  border-radius: 0 12px 12px 0;
  transition: ease-in-out 1000ms;
  transform-origin: right;
  overflow: hidden;
}
.menu__card--name {
  width: 100%;
  padding: 0.5rem;
  min-width: 60%;
}
.menu__card--name p:nth-child(1) {
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__card--name p:nth-child(2) {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__card span {
  padding: 1.5rem 0.5rem 0.5rem;
  text-align: right;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

@media all and (min-width: 550px) {
  .box__circle {
    left: 20%;
  }
}
@media all and (min-width: 767px) {
  .box__circle {
    left: 25%;
  }

  .operation {
    display: flex;
    flex-wrap: wrap;
  }
  .operation__title {
    margin-left: 1.5rem;
  }
  .operation__content {
    flex-direction: row;
    column-gap: 1.5rem;
    margin: auto;
  }
  .operation__content--btn {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 1rem;
    max-width: 10rem;
  }
  .operation__content--btn i {
    padding: 0 0.3rem;
  }
  .operation__content--btn:after {
    bottom: 1.7rem;
    line-height: 1.2rem;
  }

  .restaurant__title {
    width: 100%;
    margin-left: 1.5rem;
  }
  .restaurant__card {
    width: 40%;
    margin: 2%;
    margin-left: 5.5%;
  }
  .restaurant__card:hover {
    transform: scale(1.1);
  }

  .body {
    background-color: rgba(243, 204, 255, 0.3);
  }

  .container__menu p img {
    max-height: 20rem;
  }
  .container__menu h2 .far {
    right: 0rem;
  }
  .container__menu h2 .fas {
    left: 2.75rem;
  }

  .menu {
    width: 70%;
    margin: auto;
    margin-top: -3rem;
    margin-bottom: 1rem;
    border-radius: 50px;
  }
  .menu h3 {
    width: 12%;
  }

  .footer {
    padding-left: 0;
  }
  .footer h5 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .footer ul {
    display: flex;
    justify-content: space-around;
  }
}
@media all and (min-width: 950px) {
  .box__circle {
    left: 30%;
  }

  .operation__title {
    width: 100%;
  }
  .operation__content {
    column-gap: 1.5rem;
  }
  .operation__content i {
    padding-left: 10%;
  }

  .container__menu img {
    object-position: center;
    max-height: 17rem;
  }

  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 1rem 0 0 1rem;
    margin-top: -2.5rem;
    column-gap: 0.5rem;
    border-radius: 50px 50px 0 0;
    padding-bottom: 1.5rem;
  }
  .menu h2 {
    width: 100%;
  }
  .menu h2 .far {
    right: 3.5rem;
  }
  .menu h2 .fas {
    left: -0.8rem;
  }
  .menu__starter, .menu__main-course, .menu__dessert {
    width: 32%;
  }
  .menu__card--validate {
    margin-left: 0;
  }
  .menu__card--validate p {
    max-width: 85%;
  }
}
@media all and (min-width: 1199px) {
  .box__circle {
    left: 35%;
  }

  .location,
.restaurant,
.footer,
.container__menu {
    width: 90%;
    margin: auto;
    border-radius: 50px;
    overflow: hidden;
  }

  .footer {
    border-radius: 15px 15px 0 0;
    margin-top: 1rem;
  }

  .operation__title,
.restaurant__title {
    text-align: center;
    padding-left: 0;
    margin-left: 0;
  }

  .restaurant__card {
    max-width: 23%;
    margin: auto;
  }
  .restaurant__card i.far {
    right: 0.8rem;
  }
  .restaurant__card i.fas {
    right: -1.2rem;
  }

  .operation__content i {
    padding-left: 5%;
    padding-right: 10%;
  }
  .operation__content--btn {
    min-width: 13rem;
    white-space: nowrap;
  }
  .operation__content--btn::after {
    bottom: 0.9rem;
  }

  .menu h2 {
    text-align: center;
  }
}
@media all and (min-width: 1499px) {
  .operation__content--btn {
    min-width: 15rem;
  }

  .container__menu {
    width: 83%;
  }
  .container__menu p img {
    border-radius: 50px;
    margin: auto;
  }
  .container__menu .menu {
    max-width: 88%;
    margin: auto;
    margin-top: -1.5rem;
    border-radius: 50px;
  }
  .container__menu .menu__card {
    max-width: 100%;
  }

  .footer {
    margin: auto;
    margin-top: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
