html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left};

@mixin global-position {
    float: right;
    position: relative;
}

@mixin text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin heart-grey {
    color: $color__black--medium;
    z-index:5;
    opacity:1;
}

@mixin heart-purple {
    background: $color__gradient;
    z-index: 5;
    opacity:1;
}

@mixin heart-unseen {
    opacity: 0;
    z-index: 1;
}

@mixin appear-heart {
    @include heart-purple;
    background: $color__gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.07);
    animation: appear 500ms;
}

@keyframes turn-card-validate {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes appear{
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes circle-growth-loading-spinner {
    0% {
        transform:scale(0.8);
    }
    20% {
        transform:scale(0.8);
    }
    50% {
        transform:scale(2);
    }
    80% {
        transform:scale(0.8);
    }
    100% {
        transform:scale(0.8);
    }
}

@keyframes rotation-dishes {
    0% {
        transform: rotate(40deg);
    }
    60% {
        transform: rotate(-40deg);
    }  
    100% {
        transform: rotate(40deg);
    }
}

@keyframes change-color-dishes {
    0% {
        color: #e41c1c;
    }
    17% {
        color: #ec6314;
    }
    34% {
        color: #f1e753;
    }
    51% {
        color: #3ace35;
    }
    68% {
        color: #3cfdfd;
    }
    85% {
        color: #e712ee;
    }
    100% {
        color: #a106fb;
    }
}

@keyframes loading-spinner-apparence {
    0% {
        height:100%;
        opacity:1;
        background-color: #f3ccffde;
        background-size: contain;
    }
    75% {
        height: 100%;
        opacity: 1;
        background-color: #f3ccffde;
        background-size: contain;
    }
    85% {
        opacity: 0.7;
        background-size: contain;
        background-color: #f3ccffde;
    }
    100% {
        height: 100%;
        opacity:0;
    }
}


$color__bg--dusky: #e2e3e4;
$color__bg--medium: #e9ecf0;
$color__bg--light:rgba(192, 196, 200, 0.2);
$color__black: rgb(0, 0, 0);
$color__black--medium: rgba(0, 0, 0, 0.5);
$color__green--light:rgb(142, 236, 216); 
$color__green--dark: rgb(35, 153, 128);
$color__white: #FFF;
$color__purple:#8d51ee;
$color__gradient: linear-gradient(#e76ce7,#a37cfd);
$color__gradient--light: linear-gradient(to top,rgb(207, 130, 207),rgb(163, 135, 228));


:root {
    font-family: "roboto";
    font-size: 1.3rem;
}

body {
    min-width: 340px; 
    width: 100%;
}

a {
    text-decoration: none;
}

h1, h5 {
    font-family: "shrikhand";
}

h1{
    font-size: 1.8rem;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: $color__black;
}

//partie : premier bloc du haut//
.location__mappy {
    background-color:  $color__bg--dusky;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    align-items: center;
    .input_formulaire {
        background-color: $color__bg--dusky;
        border: none;
        font-weight: bold;
        height: 2rem;
    }    
}

.location {
    background-color: $color__bg--light;
    height: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    text-align: center;
    &__presentation--titre {
        font-size: 1.4rem;
        font-weight: bold;    
    }
    & p {
        font-size: 0.9rem;
        color: $color__black--medium;
    }
}
.btn {
    margin: auto;
    padding: 0.8rem 1.3rem;
    border-radius: 60px;
    color: $color__white;
    font-weight: bold;
    border: none;
    background: $color__gradient;
    box-shadow: 1px 1px 8px 1px $color__black--medium;
    transition: all 300ms;
    &:hover { 
        transform: scale(1.01);
        background: $color__gradient--light;
        box-shadow: 3px 3px 5px $color__black;
    }
}
//partie deuxieme bloc: fonctionnement//
.work {
    height: 20rem;
    margin-top: 1.7rem;
    &__btn {
        display: flex;            
        flex-direction: column;
        row-gap: 1.5rem;
        counter-reset: compteListe;
        &--1,
        &--2,
        &--3 {
            padding: 1rem 0 0.9rem 0;
            margin: 0 2rem;
            border-radius: 20px;
            border: none;
            box-shadow: 3px 3px 8px $color__black--medium;
            font-size: 0.7rem;
            font-weight: bold;
            position: relative;
            transition: 300ms;
            i { // insertion des icones des " boutons du fonctionnement//
                float:left;
                padding: 0 2% 0 9%;
                opacity: 0.5; 
                font-size: 1.2rem;
            }
            &:hover {//insertion de la couleur de fond des boutons de fonctionnement//
                box-shadow: 5px 3px 5px $color__black--medium;
                background-color: lighten($color__purple, 30%);
                z-index: 1;
                i {
                    color: $color__purple;
                    opacity:1;
                    z-index: 5;
                }
            }
        }
    // insertion des ronds numerotés sur les 3 boutons de fonctionnement//
        &--1::after,
        &--2::after,
        &--3::after {
            counter-increment: compteListe;
            content: counter(compteListe) " ";
            position: absolute; 
            background-color: #8d51ee;
            font-size: 0.8rem;
            font-weight: bold;
            color: $color__white;
            border-radius: 15px;
            width: 3vh;
            height: 3vh;
            left:-0.6rem;
            bottom:1.1rem;
        }
    }  
}

.work__title,
.restaurant__title {
    font-weight: bold;
    padding-left: 1rem;
    font-size: 1.35rem;
    padding-bottom: 1.5rem;
}
//partie troisieme bloc: restaurant//
.restaurant {
    display: flex; 
    flex-wrap: wrap;
    padding-bottom: 2.5rem;
    border : 1px solid $color__bg--light;
    background-color: $color__bg--light;
    &__title {
        padding-top: 2.5rem;
    }   
    &__card {
        width: 88%;
        height:14rem;
        margin: auto;
        margin-bottom:1.5rem;
        background-color: $color__white;
        box-shadow: 2px 2px 8px $color__black--medium;
        border-radius: 15px;
        overflow: hidden;
        transition: all 300ms;
//zoom et ombre sur les cards de restaurants//            
        &:hover {
            box-shadow: 5px 5px 5px $color__black--medium;
            -webkit-transform: scale(1.025);
            -moz-transform: scale(1.025);
        }
//insertion  des encadrés "nouveau"//        
        &:nth-of-type(1)::after,
        &:nth-of-type(2)::after {
            content:" Nouveau ";
            @include global-position;
            background-color: $color__green--light;
            color:$color__green--dark;
            text-align: center;
            font-weight: bold;
            line-height: 1.8rem;
            width: 5.5rem;                    
            clear: right;
            bottom: 14rem;
            right: 0.6rem;
        }            
        img {
            width: 100%;
            height: 9.5rem;
            object-fit: cover;
        }
        &--name,
        &--place {
            color:$color__black;
            padding-left:0.8rem;
            padding-top: 0.6rem;
        }            
        &--name {
            font-weight: bold;
        }
        &--place {
            opacity: 0.8;           
        }
// insertion du coeur à droite du nom du restaurant//
        & i {
           @include global-position;
            bottom: 2.1rem;
        }
        .far {
            @include heart-grey;
            right: 2rem;
            &:hover {
                @include heart-unseen;
            }
        }    
       .fas {
            @include heart-unseen;
            right: 0rem; 
            transition: all scale(1);
            &:hover {
                @include appear-heart;
            }   
        }
     }                     
}    
//bas de page//
.footer {
    padding: 1rem 0 2rem 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: $color__white;
    z-index: 1;
    a {
        color: $color__white;
        &:hover {
            color: #e76ce7;
        }
    }
    ul {
        margin-top: 0.5rem;
        font-size: 0.9rem;
        line-height: 1.5rem;
        li:first-child{ 
            i {
                padding-right:1rem;
            }
        }
        li:nth-of-type(2){
            i {
               padding-right: 0.6rem;
            }
        }
    }
}      
//_________________________________________________________//
                    // menu du restaurant   //
// insertion de la fleche de retour en haut à gauche//
.header__page--menu a{
    &::before{
        content: " ";
        position: fixed;
        z-index: 5;
        background-image: url("../images/logo/arrow-left.svg");
        background-repeat: no-repeat;
        opacity: 0.8;
        width: 1.3rem;
        height: 1.3rem;
        top: 0.8rem;
        left:1.6rem;
    }
}
.container__menu {
    border: 1px solid transparent;
    display: flex; 
    flex-direction: column;
    width: 100%;
        img {
            width: 100%;
            max-height: 17rem;
            object-position: bottom;
            object-fit: cover;
        }
    //insertion des deux coeurs l un sur l autre apres le titre//
        h2 .far,
        h2 .fas {
            @include global-position; 
        }
        h2 .far {
            @include heart-grey;
            right: 0.5rem;
            &:hover {
                @include heart-unseen;
            }
        }
        h2 .fas {
            @include heart-unseen;
            left: 2.1rem;
            transition: all scale(1);
            &:hover {
                @include appear-heart;
            }
        }
}
// nom du restaurant en haut du menu//
.menu {  
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: $color__bg--medium;
    padding: 2rem 1.3rem;
    margin-top: -4rem;
        h2 {
            font-family: "shrikhand";
            font-size: 1.3rem;
            font-weight: bold;
            color: $color__black;
            padding-left: 0.6vh;           
        }   
// bordure verte du menu Entree Plat et Dessert//
        & h3 {
            color: lighten(#000, 30%);
            margin: 1rem 0 1rem 0.4rem;   
            border-bottom: 3px solid $color__green--light;
            border-width: medium;
            width: 9%;
            padding-bottom: 0.5rem;
        }
        .btn {
            display: block;
            margin: auto;
            margin-top: 1.5rem;
            font-size: 1.1rem;
            color: $color__white;
        }
}
    
//la liste des plats dans le menu//
.menu__card {
    display: flex;
    cursor: pointer;
    margin-bottom: 0.7rem;
    border-radius: 12px;
    background-color: $color__white; 
//apparition de la partie verte/check-validation du plat//   
    &:hover .menu__card--validate {        
        width: 18%;
        > .fa-check-circle {
            animation: turn-card-validate 0.5s linear;
            right: 0;
            left:0;
            color: $color__white;
        }
    }      
    &--validate {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0;
        background-color: $color__green--light;
        color: $color__white;
        opacity: 1;
        border-radius: 0 12px 12px 0;
        transition: ease-in-out 1000ms;
        transform-origin: right;
        overflow: hidden;                          
    }       
    &--name {
        width: 100%;
        padding: 0.5rem;
        min-width: 60%;
        p {
            &:nth-child(1) {
                font-size: 0.9rem;   
                font-weight: bold;
                color: $color__black; 
                @include text-ellipsis;
            }
            &:nth-child(2) {
                font-size: 0.75rem;
                color: rgba(0, 0, 0, 0.7);
                @include text-ellipsis;
            }    
        }  
    }
    span {
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
    text-align: right;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;

    }  
}       

//animation pour faire apparaitre en douceur le menu//
.menu__starter,
.menu__main-course,
.menu__dessert {
    animation: appear 1000ms backwards;
}

.menu__main-course {
    animation-delay: 500ms;
}

.menu__dessert {
    animation-delay: 1000ms;
}

@media all and (min-width: 767px){
//responsive index.html//
.work {
    display: flex;
    flex-wrap: wrap;
    height: 8rem;
    margin-bottom: 2rem;
    &__btn{
        flex-direction: row;
        max-width: 90%;
        column-gap: 1.5rem;
        margin:auto;
        margin-bottom: 1rem;
        &--1,
        &--2,
        &--3 {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 1rem;
            max-width: 12rem;
            & i {
                padding: 0 0.3rem;
            }
            &:after {
                bottom: 1.4rem;
            }
        }     
    }
}

.restaurant {
    row-gap: 1.5rem;
    margin: 0;
    &__title {
        width: 100%;
        margin-left:1.5rem;
        padding-bottom: 0;
    }
    &__card {
        width: 40%;
        margin: 2%;
        margin-left: 5.5%;
        &:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
        }
    }
}

//responsive page menu//
.body {
    background-color: rgb(243, 204, 255, 0.3);
}
.container__menu {
    p img{    
        max-height: 20rem;
    }
    & h2 {
        .far {
            right: 0rem;
        }
        .fas {
            left:2.6rem;
        }  
    }  
}
.menu {
    width: 70%;
    margin: auto;
    margin-top: -3rem;
    margin-bottom: 2rem;
    border-radius: 50px;
    & h3 {
        width: 12%;
    }
}
.footer {
    padding-left: 0;
    h5 {
    text-align: center;
    margin-bottom:1rem;
    }
    ul {
        display: flex;
        justify-content: space-around;
    }
}

}

@media all and (min-width: 995px) {  
//responsive index.html//
.work {
    &__title {
        padding-left: 3rem;
        width: 100%;
    }
    &__btn {
        column-gap: 2rem;
        i {
            padding-left:10%;
        }
    }
}
//responsive page menu//
.container__menu {
    img {
        object-position: center;
        max-height: 17rem;
    }
    
}
.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding:1rem 0 0 1rem;
    margin-top: -2.5rem;
    column-gap: 0.5rem;
    border-radius: 50px 50px 0 0;
    h2 {
        width: 100%;
        .far {
            right: 3.5rem;
        }
        .fas {
            left: -0.9rem;
        }
    }
    &__starter,
    &__main-course,
    &__dessert {
        width: 32%;
    }
    &__card {
        &--validate {
        margin-left: 0;
            p {
                max-width: 85%;
            }
        }
    }
    padding-bottom: 2rem;
}

}

@media all and (min-width:1199px) {
//responsive index.html//

.location, 
.restaurant,
.footer,
.container__menu {
    width:90%;
    margin:auto;
    border-radius: 50px;
    overflow: hidden;
}

.footer {
    border-radius: 15px 15px 0 0;
    margin-top: 1rem;
}

.work__title,
.restaurant__title {
    text-align: center;
    padding-left: 0;
    margin-left: 0;
}

.restaurant {
    &__card {
    max-width: 23%;
    margin: auto;
        & i.far {
            right: 0.8rem;
        }
        & i.fas {
            right: -1.2rem;
        }
    }
}

.work__btn {
    & i {
       padding-left: 5%; 
    }
    ::after {
        bottom: 1.2rem;
    }
}

.menu h2 {
    text-align: center;
}

}

@media all and (min-width:1499px) {

//responsive menu//
.container__menu {
    p{
        margin: auto;
        width: 83%;
        & img {                   
        
        border-radius: 15px;
        }
    }
    & .menu {
        max-width: 75%;
        margin: auto;
        margin-top: -4rem;
        border-radius: 50px;
        &__card {
            max-width: 90%;
        }
    }
}

.footer {
    width: 75%;
    margin: auto;
    margin-top: 1rem;
}


}
