html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left};

$color__bg--dusky: #e2e3e4;
$color__bg--medium: #e9ecf0;
$color__bg--light:rgba(192, 196, 200, 0.2);
$color__dark--light: rgba(0, 0, 0, 0.2);
$color__dark--medium: rgba(0, 0, 0, 0.5);
$color__dark--dark: rgba(0, 0, 0, 0.7);
$color__dark--top:  rgba(0, 0, 0, 0.9);
$color__green--light:rgb(142, 236, 216); 
$color__green--dark: rgb(35, 153, 128);
$color__white: #FFF;

:root {
    font-family: "roboto","sans-serif";
    font-size: 1.1rem;
    font-weight: 400;
}

body {
    min-width: 340px; 
    display: flex; 
    flex-direction: column;
    width: 100%;

}

a {
    text-decoration: none;
}

h1, h4 {
    font-family: "shrikhand";
}

h1{
    font-size: 1.3rem;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.container,
.container__menu {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
//partie : premier bloc du haut//
.location {
    background-color: $color__bg--light;
    display: flex;
    flex-direction: column;

    height: 15.5rem;
        &__presentation  p {
            font-size: 0.9rem;
            color: $color__dark--medium;
            text-align: center;
            padding-bottom: 1.4rem;
        }
        &__presentation--titre {
            font-size: 1.3rem;
            font-weight: 700;
            text-align: center;
            padding-top: 1.5rem;
            padding-bottom: 0.5rem;
            line-height: 1.4rem;
        }
}

.input_formulaire {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    background-color: $color__bg--dusky;
    border-left: none;
    border-top-color: $color__bg--light;
}

.btn {
    display: block;
    margin: auto;
    padding: 0.6rem 1.3rem;
    border-radius: 60px;
    font-family: "roboto";
    border: none;
    background-color: violet;
}
//partie fonctionnement//
.work {
    display: flex; 
    flex-direction: column;
    height: 20rem;
    margin-top: 1.7rem;
        .work__btn {
            display: flex;            
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
                &--1,
                &--2,
                &--3 {
                    padding-top: 1.3rem;
                    padding-bottom: 1.2rem;
                    margin: 0.8rem 1.7rem 0.5rem 1.2rem;
                    border-radius: 20px;
                    border: none;
                    box-shadow: 1.5px 1px 8px 1px $color__dark--light;
                    font-size: 0.9rem;
                    font-family: "roboto";
                    counter-reset: compteListe;
                    position: relative;
                }
                // insertion des ronds numerotés sur les 3 boutons de fonctionnement//
                &--1::after,
                &--2::after,
                &--3::after {
                    counter-increment: compteListe 1;
                    content: counter(compteListe) " ";
                    display: block;
                    position: absolute; 
                    background: rgb(187, 93, 187);
                    font-size: 0.8rem;
                    font-weight: bold;
                    color: $color__white;
                    border-radius: 15px;
                    width: 3vh;
                    height:3vh;
                    left:-0.5rem;
                    bottom:1.1rem;
                    line-height: 1.4rem;
                }
                &--2::after {
                    counter-increment: compteListe 2;             
                }
                &--3::after {
                    counter-increment: compteListe 3;
                }
                //insertion des icones sur les 3 boutons de fonctionnement//
                &--1::before,
                &--2::before,
                &--3::before {   
                    content: " ";
                    display: block;
                    position: absolute;
                    background-repeat: no-repeat;
                    width: 1.2rem;
                    height: 1.2rem;
                    opacity: 0.4;
                    top: 1.3rem;
                    left: 2.5rem;
                }             
                &--1::before {
                    background-image: url("../images/logo/mobile.svg");                          
                }
                &--2::before {
                    background-image: url("../images/logo/list.svg");                   
                }
                &--3::before {
                    background-image: url("../images/logo/store.svg");                   
                }
        }
}     

.work__title,
.restaurant__title {
    font-weight: bold;
    padding-left: 1rem;
    font-size: 1.35rem;
    padding-bottom: 0.5rem;
}
//partie restaurant//
.restaurant {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 2.5rem;
    border : 1px solid $color__bg--light;
    background-color: $color__bg--light;
    position: relative;
        &__title {
            padding-bottom: 1.3rem;
            padding-top: 2.5rem;
        }   
        &__card {
            width: 90%;
            margin-bottom: 1.2rem;
            padding-bottom: 1.2rem;
            margin-bottom:1.5rem;
            margin-right: 2%;
            margin-left: 5%;
            background-color: $color__white;
            box-shadow: 2px 1px 9px 1px $color__dark--light;
            border-radius: 15px;
            line-height: 0.9rem;
                //insertion  des 2 icones "nouveau" sur les 2 premieres images de restaurant//
                &:nth-of-type(1)::after,
                &:nth-of-type(2)::after {
                    content:" Nouveau ";
                    float: right;
                    position: relative;
                    background-color: $color__green--light;
                    color:$color__green--dark;
                    text-align: center;
                    font-weight: bold;
                    line-height: 1.8rem;
                    font-size: 1rem;
                    width: 5.5rem;
                    height: 1.8rem;                       
                    clear:right;
                    bottom: 11.8rem;
                    right: 0.6rem;
                } 
                &:nth-of-type(1),
                &:nth-of-type(2) { 
                    padding-bottom:0;
                    height: 14rem;
                }             
                img {
                    width: 100%;
                    height: 9.5rem;
                    object-fit: cover;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                }            
        &--name {
            text-decoration: none;
            color: black;
            font-weight: bold;
            padding-left: 0.8rem;
            padding-top: 1rem;
                //insertion des coeurs sur les images de retaurants//
                &::before {
                    content:" ";
                    float: right;
                    position: relative;
                    background-image: url("../images/logo/heart.svg");
                    background-repeat: no-repeat;
                    clear: both;
                    opacity: 0.6;
                    width: 1.5rem;
                    height: 1.5rem;
                    top: 0.3rem;
                    right: 1.5rem;
                }
        }
        &--place {
            text-decoration: none;
            color: $color__dark--dark;
            font-size: 0.95rem;
            padding-left:0.8rem;
            padding-top: 0.6rem;
        }                     
    }    
}
.footer {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.8);
    color: $color__white;

    padding-bottom: 1.7rem;
    position: relative;
    z-index: 1;
        &--logo {
            padding-top: 1rem;
            padding-bottom: 0.5rem;
            margin-left: 1.1rem;
        }
        ul {
            font-size: 0.9rem;
            line-height: 1.5rem;
            padding-left: 1.1rem;
                li:first-child,
                li:nth-of-type(2) {
                    padding-left: 1.5rem;
                    //insertion des 2 icones dans le footer//
                    &::before{
                            content: "";
                            display: block; 
                            position: absolute;
                            background-repeat: no-repeat;
                            width: 1rem;
                            height: 1rem;
                            
                        }
                }
                li {
                    &:first-child::before {
                        background-image: url("../images/logo/utensils.svg");
                        top:3.3rem;
                        left: 1.2rem;
                     }
                    &:nth-of-type(2)::before {
                        background-image: url("../images/logo/hands-helping.svg");
                        top: 4.8rem;
                        left:1.2rem; 
                        z-index: 5;   
                    }
                }   
        }
    a{
        color: $color__white;
    }
}
// menu du restaurant: La palette du gout//
.header__page--menu a{
    &::before{
        content: " ";
        display: block; 
        position: absolute;
        background-image: url("../images/logo/arrow-left.svg");
        background-repeat: no-repeat;
        opacity: 0.8;
        width: 1.3rem;
        height: 1.3rem;
        top: 0.8rem;
        left: 3rem;
    }    
}
.container__menu {
    border: 1px solid transparent;
    width: 100%;
        p {
            width: 100%;
            z-index: 1;
        }
}
.menu {  
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;;
    background-color: $color__bg--medium;
    width: 100%;
    padding-top: 2rem;
    z-index: 10;
    opacity: 1;
    margin-top: -4rem;
        h2 {
     font-family: "shrikhand";
     font-size: 1.5rem;
     padding-left: 1.3rem;
     font-weight: bold;
     color: $color__dark--top;
     letter-spacing: 0.1vh;
     padding-bottom: 2rem;
            &::before {
                content:" ";
                float: right;
                position: relative;
                background-image: url("../images/logo/heart.svg");
                background-repeat: no-repeat;
                clear: both;
                opacity: 0.6;
                width: 1.5rem;
                height: 1.5rem;
                top: 0.3rem;
                right: 1.5rem;
            }

    }
}

