html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left};

$color__bg--dusky: #e2e3e4;
$color__bg--light:rgba(192, 196, 200, 0.2);

:root {
    font-family: "roboto","sans-serif";
    font-size: 1.1rem;
    font-weight: 400;
}

body {
    min-width: 340px; 
    display: flex; 
    flex-direction: column;
    width: 100%;
    margin: 0.5rem;
    margin-right: 0.5rem;

}

h1, h4 {
    font-family: "shrikhand";
}

h1{
    font-size: 1.3rem;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}
.container {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;

}

.location {
    background-color: $color__bg--light;
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
    height: 15rem;
}

.input_formulaire {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    background-color: $color__bg--dusky;
    border-left: none;
    border-top-color: $color__bg--light;
}

.location__presentation .accueil {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.location__presentation p {
    font-size: 0.9rem;
    color: rgb(0, 0, 0, 0.5);
    text-align: center;
    padding-bottom: 1.5rem;
}

.btn {
    display: block;
    margin: auto;
    padding: 0.6rem 1rem;
    border-radius: 60px;
    
}