$color__bg--dusky: #e2e3e4;
$color__bg--light:rgba(192, 196, 200, 0.2);
$color__black: rgb(0, 0, 0);
$color__black--medium: rgba(0, 0, 0, 0.5);
$color__green--light:rgb(142, 236, 216); 
$color__white: #FFF;
$color__purple:#8d51ee;
$color__gradient: linear-gradient(#e76ce7,#a37cfd);
$color__gradient--light: linear-gradient(to top,rgb(231, 108, 231, 0.8),rgb(163, 124, 253, 0.8));

$size: 0.5rem;






